*{
  margin:0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: #eaf1f7; /* Color celeste suave */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1{
  font-family: Impact, sans-serif; /* Fuente Impact */
  -webkit-text-stroke: 1px rgb(246, 246, 252); /* Contorno de color azul */
  -webkit-text-fill-color: rgb(8, 8, 100); /* Relleno transparente */
  text-shadow: 6px 6px 6px #ae9797; /* Contorno de color blanco */
}
 h2, input, select, textarea, label {
  font-family: Copperplate, sans-serif; /* Fuente Copperplate */
  /*-webkit-text-stroke: 1px rgb(3, 3, 11); /* Contorno de color azul */
  /*-webkit-text-fill-color: rgb(23, 44, 66); /* Relleno transparente */
  text-shadow: 4px 4px 4px #0a031bbd; /* Contorno de color blanco */
}
main{
  width: 100%;
  padding: 20px;
}
.navbar333 {
  background-color: rgb(31, 20, 80);
}

.sidebar{
  background: navy;
  color: #fff;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
  background-color: #0c0c28; /* Color azul oscuro */
}
.logo{
  font-size: 30px;
}
.form-control {
  background-color: rgb(12, 77, 81) !important;
  border: 3px solid rgb(207, 199, 199) !important;
  -webkit-text-fill-color: rgb(232, 232, 247); 
  text-shadow: none !important; /* Remover la sombra de texto */
}
/* Estilo para el campo de entrada autocompletado */
.form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(12, 77, 81) inset !important;
  -webkit-text-fill-color: rgb(232, 232, 247) !important;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}
.text-container {
  margin-right: 50px;
}

.form-container {
  width: 300px;
}